//- Em cart.pug
extends layout.pug

block content
    div.content
        div.content-title 
            h1 Carrinho
            a(href="/logout") Sair 
        div(class="content-login")
            div(class="wrapper-login")
                each item in carrinhoItems
                    div.cart-product-info
                        img(src=item.image, alt=item.product, class="check")
                        strong= item.product
                        strong R$ #{item.price}
                        strong Quantidade: #{item.quantity}
                        a(href=`/removeFromCart/${item.id}`).button Remover do Carrinho
                div.cart-total
                    label Total 
                    strong R$ #{carrinhoTotal} // Certifique-se de que este método está definido corretamente em seu código
                div.cart-buy-button 
                    a(href="/dashboard").button Continuar Comprando 
                    a(href="/buyfinish").button#add-cart Finalizar Compra
