//- Em cart.pug
extends layout.pug

block content
    div.content
        div.content-title 
            h1 Carrinho
            a(href="/logout") Sair 
        div(class="content-login" )
            div(class="wrapper-login" id="content-cart")
                div.cart-titles
                    h2 Produto
                    h2 Nome 
                    h2 Preço
                    h2 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                each item in carrinhoItems
                    div.cart-product-info
                        img(src=item.image, alt=item.product, class="check")
                        p= item.product
                        p R$ #{item.price}
                        //-strong Quantidade: #{item.quantity}
                        a(href=`/removeFromCart/${item.id}`)#button-del-cart Remover
                    br
                div.cart-total
                    label Total: 
                    strong #{carrinhoTotal} 
                div.cart-buy-button 
                    a(href="/dashboard").button Continuar Comprando 
                    a(href="/buyfinish").button#add-cart Finalizar Compra
